iframe {
  display: none; }

.qa-question {
  font-family: Arial;
  height: 96%;
  margin: 2%;
  width: 96%; }
  .qa-question .qa-question-header {
    font-size: 32px;
    margin-bottom: 14px;
    margin-top: 16px;
    text-decoration: underline; }
  .qa-question .qa-question-name {
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 4px; }
  .qa-question .qa-question-content {
    margin: 10px;
    position: relative;
    text-align: right;
    width: 640px; }
    .qa-question .qa-question-content .qa-question-statement {
      font-size: 14px;
      margin: 0 0 14px;
      text-align: left; }
  .qa-question .submit-question {
    margin: 14px 10px; }

.qa-question-type-area {
  margin: 14px 0;
  text-align: left; }
  .qa-question-type-area.multiple-choice .multiple-choice-option {
    height: 28px;
    margin: 4px 10px;
    position: relative; }
    .qa-question-type-area.multiple-choice .multiple-choice-option .mc-option-text {
      background: #ededed;
      border: 1px solid #dcdcdc;
      border-radius: 4px 0 0 4px;
      cursor: default;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      margin: 0 0 0 10px;
      width: 460px; }
      .qa-question-type-area.multiple-choice .multiple-choice-option .mc-option-text.correct {
        background-color: #e7ffe1;
        color: #1d621d; }
      .qa-question-type-area.multiple-choice .multiple-choice-option .mc-option-text span {
        margin: 0 10px; }
    .qa-question-type-area.multiple-choice .multiple-choice-option .mc-option {
      background: #ededed;
      border: 1px solid #dcdcdc;
      border-left: 0;
      border-radius: 0 4px 4px 0;
      display: inline-block;
      height: 28px;
      padding: 4px;
      vertical-align: top;
      width: 28px; }
      .qa-question-type-area.multiple-choice .multiple-choice-option .mc-option.correct {
        background-color: #e7ffe1;
        color: #1d621d; }
  .qa-question-type-area.coding .qa-code-padding {
    background-color: #272822;
    border-radius: 5px 5px 0 0;
    height: 14px;
    width: 640px; }
  .qa-question-type-area.coding .qa-coding {
    height: 300px;
    width: 640px; }
  .qa-question-type-area.coding .qa-coding-tests {
    background-color: #272822;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #555;
    height: 266px;
    width: 640px; }
    .qa-question-type-area.coding .qa-coding-tests .tests-title {
      background-color: #373737;
      color: #d1d1d1;
      height: 28px;
      line-height: 28px;
      text-align: center;
      width: 80px; }
    .qa-question-type-area.coding .qa-coding-tests .tests {
      background-color: #373737;
      height: 100px;
      padding: 12px 0;
      position: relative;
      width: 100%; }
      .qa-question-type-area.coding .qa-coding-tests .tests .test {
        background-color: #666;
        border-radius: 4px;
        color: #ededed;
        cursor: pointer;
        line-height: 28px;
        margin: 0 2% 4px;
        min-height: 28px;
        width: 96%; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test i {
          margin-left: 10px; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test .glyphicon {
          margin-left: 14px; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test .test-name {
          margin-left: 6px; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test .qa-test-correct {
          color: #66ffab; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test .qa-test-wrong {
          color: #f64747; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details {
          margin: 0 20px; }
          .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .input,
          .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .output,
          .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .expected-output {
            display: block;
            font-size: 14px;
            min-height: 20px; }
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .input span,
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .output span,
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .expected-output span {
              color: #a6e22a;
              font-size: 12px; }
              .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .input span.wrong,
              .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .output span.wrong,
              .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .expected-output span.wrong {
                color: #f64747; }
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .input.qa-hidden span,
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .output.qa-hidden span,
            .qa-question-type-area.coding .qa-coding-tests .tests .test .test-details .expected-output.qa-hidden span {
              color: #c5eff7;
              font-style: italic; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test.open {
          height: 146px; }
        .qa-question-type-area.coding .qa-coding-tests .tests .test.closed .input,
        .qa-question-type-area.coding .qa-coding-tests .tests .test.closed .output,
        .qa-question-type-area.coding .qa-coding-tests .tests .test.closed .expected-output {
          display: none; }

.qa-hints-area {
  margin: 14px 0;
  text-align: left; }
  .qa-hints-area.closed .hints {
    display: none; }
  .qa-hints-area .hint-trigger {
    color: #3498db;
    cursor: pointer;
    display: block;
    margin-bottom: 10px; }
    .qa-hints-area .hint-trigger span {
      font-style: italic; }
  .qa-hints-area .js-hint {
    border-radius: 0;
    height: 28px;
    padding: 2px;
    width: 28px; }
    .qa-hints-area .js-hint.js-hint-active {
      width: 60px; }
    .qa-hints-area .js-hint:first-of-type {
      border-radius: 4px 0 0 4px;
      border-right: 0; }
    .qa-hints-area .js-hint:last-of-type {
      border-left: 0;
      border-radius: 0 4px 4px 0; }
  .qa-hints-area .qa-hint-text {
    margin: 8px 0; }

.btn {
  border: solid 1px #d1d1d1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 14px;
  transition: .4s ease; }
  .btn.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff; }
    .btn.btn-success:hover {
      background-color: #449d44;
      border-color: #449d44; }
  .btn.btn-default {
    background-color: #ededed; }

.qa-message-overlay {
  background: rgba(66, 66, 66, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }
  .qa-message-overlay .qa-message {
    display: table;
    font-size: 40px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%; }
    .qa-message-overlay .qa-message.correct {
      color: #66ffab; }
    .qa-message-overlay .qa-message.wrong {
      color: #f64747; }
    .qa-message-overlay .qa-message span {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .qa-message-overlay .qa-message span .small {
        display: inline-block;
        font-size: 20px;
        text-align: center; }
